.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login-card {
  background: #fff;
  color: #000;
  border-radius: 10px;
  box-shadow: o 6px 18px rgba(0,0,0,0.08);
  width: 300px;
  padding: 1rem;
  height: 220px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  box-sizing: border-box;
}

.form-input {

}
