.nav_list {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
}

.nav_item {
    /* Puedes agregar más estilos aquí */
}